* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h1 {
  padding: 1rem;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
}

a{
 color: #009900;
 text-decoration: none;
}
a:hover{
 color: #00aaff;
}
footer{
 padding-top: 3rem;
 background-color:#121121; 
}
footer p {
 text-align: center;
}


.topic header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2 rem;
  background-color: #0f191f;
}

.topic header h1 {
  padding-top: 0.3rem;
  padding-right: 1rem;
  color: #ddd;
  text-decoration: none;
  font-size: 2rem;
}

.topic header a {
  text-decoration: none;
}

.topic header a:hover {
  background-color: green;
  text-decoration: none;
  border-radius: 3px;
}

.topic nav a {
  padding: 0.2rem;
  margin-left: 0.9;
  margin-right: 0.9;
  background-color: #009900;
  border-radius: 9px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.uproject {
  display: flex;
  gap: 30px;
  padding: 3em;
  scroll-behavior: smooth;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  border: 2px solid white;
  flex: 0 0 auto;
  align-items: center;
  flex-direction: column;
  min-width: 800px;
  max-width: 800px;
  background-color: black;
  border-radius: 15px;
  padding: 1.5em;
  gap: 1em;
  transition: transform 0.4s ease;
}

.project img {
  width: 100%;
  height: 280px;
  border-radius: 10px;
  object-fit: cover;
}

.project:hover {
  transform: translateY(-5px);
}

.project img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.project h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #00ff7f;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #333;
  margin-bottom: 1em;
}

.project p {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

.skills {
  padding: 30px;
  border-radius: 10px;
  margin: 20px 0;
  color: white;
}

.skills h2 {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.skills p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skills li {
  padding: 1rem 2rem;
  text-align: center;
  color: #000000;
  background-color: darkgreen;
  border: 2px solid white;
  border-radius: 9px;
  min-width: 200px;
}

.homep p {
  padding: 2rem;
  font-size: 1rem;
}

.choosing ul {
  list-style: none;
}

.choosing li {
  padding: 1rem;
  min-width: 200px;
}

.resource h2 {
  font-size: 1.4em;
  color: #efeefe;
  border-bottom: 2px solid #333;
  padding-bottom: 0.9rem;
  margin-top: 1rem;
}

.resource p {
  padding-top: 1.4rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  padding-right: 1rem;
}

.resource ul {
  display: flex;
  flex-wrap: wrapp;
  gap: 3rem;
  justify-content: space-evenly;
}

.resource li {
  list-style: none;
  margin-bottom: 1rem;
}

.resource a {
  border: 2px solid white;
  border-radius: 9px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: black;
  text-decoration: none;
  color: #00af00;
}

.resource a:hover {
  background-color: green;
  color: white;
}

.comp h3,h4{
  padding-left: 2rem;
  paddinf-bottom: 2rem;
}
.comp ol{
  padding-left: 2rem;
}

